body {
  background-color: var(--c-grey);
}
.loader {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: var(--z-2);
}
.loader span {
  display: block;
  height: 10px;
  width: 10px;
  margin: 0 0 0 0.5rem;
  background-color: #c4f575;
  border-radius: 50%;
  animation: blink 1s linear infinite;
  animation-timing-function: ease-in;
}
.loader span:nth-child(3) {
  animation-delay: 0.66s;
}
.loader span:nth-child(2) {
  animation-delay: 0.33s;
}
@keyframes blink {
  50% {
    background-color: #39b300;
    transform: translateY(-50%);
  }
}
.hero {
  margin: 0;
  cursor: pointer;
}
.hero img {
  width: 100%;
  height: 30vh;
}
@media all and (min-width: 600px) {
  .hero {
    margin: 55px 0 0;
  }
  .hero img {
    height: 50vh;
  }
}

.product-layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 2fr;
  position: relative;
}
.product-layout img {
  height: 200px;
  width: 100%;
}
.product-layout .badge-rect-danger {
  position: absolute;
  top: 2%;
  left: 2%;
}
.product-layout .wrapper {
  background-color: #fff;
  padding: var(--p-2);
  border-radius: var(--br-2);
}
@media all and (min-width: 600px) {
  .product-layout {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .product-layout img {
    height: 450px;
  }
  .product-layout .wrapper {
    padding: var(--p-4);
  }
  .product-layout .badge-rect-danger {
    top: 5%;
    left: 1%;
  }
}
.product-layout .product {
  position: relative;
  margin: var(--p-1);
}
@media all and (min-width: 600px) {
  .product-layout .product {
    margin: 0 var(--p-6);
  }
}
.product-layout .product-heading {
  font-size: var(--fsz-1);
  margin: 0 0 var(--p-1);
}
.product-layout .product-description {
  font-weight: normal;
  margin: 0 0 var(--p-2);
}
.product-layout .product-seller {
  font-size: 0.8rem;
  font-weight: normal;
}
@media all and (min-width: 600px) {
  .product-layout .product-heading {
    margin: 0 0 var(--p-2);
  }
}
.product-layout .product-discount {
  font-weight: 700;
  color: var(--c-danger-300);
}
.product-layout .product-discount .icon {
  vertical-align: sub;
  margin: var(--p-1) var(--p-1) 0 0;
  font-size: var(--fsz-2);
}
.product-layout .product-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
.product-layout .product-price .price {
  font-size: var(--fsz-1);
  margin: 0 var(--p-2);
}
.product-layout .product-price .taxes {
  margin: 0 0 0 var(--p-1);
  font-size: 0.8rem;
  font-weight: 400;
}
.product-layout .product-price .muted {
  margin: 0 0 0 var(--p-1);
}
@media all and (min-width: 600px) {
  .product-layout .product-price {
    flex-direction: column;
    align-items: start;
  }
  .product-layout .product-price .price {
    font-size: var(--fsz-2);
    margin: var(--p-1) 0 var(--p-3);
  }
  .product-layout .product-price .muted {
    margin: var(--p-1) 0 0;
  }
}
.product-layout .product .cta {
  width: auto;
  padding: var(--p-2) var(--p-7);
}
.product-layout .features {
  border-radius: var(--br-2);
  margin: var(--p-2) 0 0;
  background-color: #fff;
  padding: var(--p-2);
}
@media all and (min-width: 600px) {
  .product-layout .features {
    padding: var(--p-4);
    margin: var(--p-4) var(--p-1);
  }
}
.product-layout .features-layout {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.product-layout .features .avatar-sm-i-primary {
  display: inline-block;
  height: 40px;
  width: 40px;
  grid-row: 1/3;
}
.product-layout .features .feature {
  flex-basis: 100%;
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 0.5fr 1fr;
  margin: var(--p-2) 0;
}
@media all and (min-width: 600px) {
  .product-layout .features .feature {
    flex-basis: 50%;
    grid-template-rows: 0.5fr 1fr;
  }
}

.category-layout {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: var(--p-6) 0;
}

.category-card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 var(--p-2) var(--p-2);
}
.category-card img {
  background-color: #d7f3aa;
  padding: var(--p-4);
  border-radius: var(--br-2);
  height: 100px;
  object-fit: contain;
}
@media all and (min-width: 600px) {
  .category-card img {
    height: 130px;
  }
}
.category-card figcaption {
  margin: var(--p-2) 0;
  font-weight: 600;
}
.category-card:hover img {
  background-color: var(--c-success-100);
}

/*# sourceMappingURL=style.css.map */
